.git
.omx
.idea
.vscode

data
docs/data
out
node_modules

target
docs-core/target
docs-web-common/target
docs-android/.gradle
docs-android/app/build
docs-android/build

*.pdf
*.log
hs_err_pid*

!docs-web/target
!docs-web/target/*.war
